.novelties {
	padding: 120px 0;

	@media screen and (max-width: $breakpoint768) {
		padding: 60px 0;
	}
}

.novelties__inner--title {
	margin-bottom: 80px;

	@media screen and (max-width: $breakpoint768) {
		margin-bottom: 70px;
	}
}

.novelties__cards-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(215px, 1fr));
	gap: 24px;
}

.novelties__cards--style {
	text-align: center;
}

.novelties__cards--style:nth-child(8) {
	position: relative;
}

.novelties__card--button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -120%);
	width: 190px;


	@media screen and (max-width: 500px) {
		transform: translate(-50%, -70%);
	}
}