.season {
}

.season__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 730px;

	@media screen and (max-width: 1920px) {
		flex-direction: column;
	}
}

.season__cards {
	padding: 0 80px;

	@media screen and (max-width: 1920px) {
		padding: 0 20px;
	}

	@media screen and (max-width: $breakpoint768) {
		padding: 0 0;
	}
}

.season__cards--title {
	text-align: center;
	margin-bottom: 50px;

	@media screen and (max-width: 1920px) {
		padding-top: 60px;
	}
}

.season__cards-list {
	display: flex;
}

.season__catalog {
	max-width: 880px;
	position: relative;

	@media screen and (max-width: 1920px) {
		padding-top: 60px;
	}
}

.season__catalog-img {
	max-width: 100%;
}

.season__catalog-content {
	position: absolute;
	top: 74%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	@media screen and (max-width: $breakpoint768 ) {
		top: 60%;
	}
}

.season__content--title {
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: clamp(24px, 1.007rem + 1.04vw, 36px);
}

.card__link--season {
	margin-bottom: 25px;
	display: block;
}

.card__title--season {
	margin-bottom: 10px;
	display: block;
}

// Swiper Slider

.swiper {
	max-width: 800px;
	height: 440px;

	@media screen and (max-width: 1920px) {
		max-width: 1090px;
	}
	@media screen and (max-width: $breakpoint1440) {
		max-width: 800px;
	}
	@media screen and (max-width: 868px) {
		max-width: 540px;
	}
	@media screen and (max-width: 590px) {
		max-width: 490px;
	}
}

.swiper-slide {
	@media screen and (max-width: 1920px) {
		text-align: center;
	}
}

.swiper-slide img {
	width: 215px;
	height: 264px;
	object-fit: cover;
}

.swiper {
	.swiper-pagination {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20px;
	}

	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
		background-color: #333;
		border-radius: 50%;
		margin: 0 5px;
	}

	.swiper-pagination-bullet-active {
		background-color: #34261f;
	}
}
