// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1110;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);

$containerWidthLg: 1920;
$containerPaddingLg: 0;
$containerSidePaddingLg: math.div($containerPaddingLg, 2);

$breakpoint1440: 1439.98 + px;
$breakpoint1024: 1023.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint375: 374.98 + px;

// Colors
$colorDark: #000000;
$colorDarkGray: #0f0f0f;
$colorLight: #ffffff;
$colorLightGray: #d0d0d0;



// Burger Menu
$burgerBreakpoint: $breakpoint768;
$burgerColor: $colorDarkGray;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: "PT Sans", sans-serif;
$fontSecondary: "Playfair Display", serif;
