// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1080;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$colorDark: #000000;
$colorDarkGray: #0f0f0f;
$colorLight: #ffffff;
$colorLightGray: #d0d0d0;



// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: red;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: "PT Sans", sans-serif;
$fontSecondary: "Playfair Display", serif;
